/*'Next/Previous' buttons (colors taken from explore.css)*/

.btn-toggle{
    color: #fff;
    background-color:#9D71C0;
    border: 1px solid #9D71C0;
  }

.btn-toggle:hover{
    background-color: #80aaff;
    border: 1px solid #80aaff;
}

/*top padding for url input*/
#fs1{
    padding-top: 10%;
}

/*initially show only first fieldset*/
fieldset:not(:first-of-type){
    display: none;
}

p {
    color: #777;
	font-size: 1.5rem;
}
