.row {
    padding: 20px;
}

#profile-picture {
    height: auto;
    width: 100%;
    border: 5px solid rgba(169, 169, 169, 0.5);
}

.user-details {
    text-align: center;
}

.video-thumbnail {
    height: auto;
    width: 100px;
}

.tab button.tablinks{
  width: 50%;
}

.tab button.tablinks.active{
  background-color: #B5428B;
  color: #fff;
}

#user-feels{
  display:block;
}
