.row {
    padding: 20px;
}

.profile-pic {
    height: 200px;
    width: auto;
    margin: 0 auto;
    border: 3px double #9D71C0;
}

.user-details {
    text-align: center;
}
.user-details.username{
  color: #9D71C0;
}

.video-thumbnail {
    height: auto;
    width: 100px;
}

.tab button.tablinks{
  width: 50%;
}

.tab button.tablinks.active{
  background-color: #B5428B;
  color: #fff;
}

#user-feels{
  display:block;
}
