#creator-info{
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8; 
}

#creator-info img {
    max-height: 60px;
    max-width: 60px;
}

#desc_p {
    padding: 5px;
    background-color: #9D71C0;
    color: white;
    border-radius: 3px;
}

#comments-section div {
    display: inline-block;
}

#comments-section .comment-bubble {
    display: inline-block;
}

.comment-author-picture {
    max-height: 60px;
    max-width: 60px;
    border-style: double;
	border-color: #9D71C0;
    border-width: 3px;
    border-radius: 5px;
}

/* Comment bubble */
.comment-bubble {
    position: relative;
    padding: 10px;
    margin: 5px 0 0 25px;
    background: #00aabb;
    border-radius: .4em;
}

.comment-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16px;
    margin-left: -15px;
}

#user-stats{
    display: block;
}

.tabcontent{
    overflow: scroll;
}

.video-container{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    border-style: solid;
	border-color: #80aaff;
    border-width: 5px;
    border-radius: 5px;
}

.video-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.tabcontent p{
    margin-bottom: 3px;
}

#creator-info{
    padding:20px;
    margin-top:25px;
    border: 1px solid #e8e8e8;
}

#comments-section{
    padding: 20px;
    border: 1px solid #e8e8e8;
    margin: 25px auto;
}

.user-details{
    float: left;
}

.comment-bubble{
    float: right;
}

.tab button.active{
    background-color: #B5428B !important;
    color: #fff;
}

.tab button.tablinks{
    width:50%;
}