/* VIDEO AREA */
.video-container{
    position:relative;
    padding-bottom: 56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    border-style: double;
    border-color: #9D71C0;
    border-width: 3px;
}

.video-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}

.tabcontent p{
    margin-bottom: 3px;
}

#user-stats{
    display: block;
}

.tabcontent{
    overflow: scroll;
}

.tab button.active{
    background-color: #B5428B !important;
    color: #fff;
}

.tab button.tablinks{
    width:50%;
}

@media (max-width: 1100px){
  #emotion-charts{
    font-size: .75rem;
  }

  #emotion-charts h3{
    font-size: 20px;
  }
}

/* DESCRIPTION */
#creator-info{
    padding:20px;
    border: 1px solid #e8e8e8;
    position: relative;
}
.video-avatar-uploader{
  border-style: double;
  border-color: #9D71C0;
  border-width: 3px;
}

@media (max-width: 768px){
  .video-avatar-uploader{
    max-height: 150px;
  }
}

.video-edit-link-wrap{
  position:absolute;
  top:5px;
  right:0;
  z-index:1000;
}

.video-edit-link{
  position: relative;
  padding: 10px;
  font-size:1.5rem;
}

a.video-edit-link:hover{
  color: #9D71C0 !important;
}

/* COMMENTS */

.comment-bubble {
    position: relative;
    padding: 10px;
    margin: 5px 0 0 25px;
    background: #9D71C0;
    border-radius: .4em;
}

.comment-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #9D71C0;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16px;
    margin-left: -15px;
}

.comment-bubble-form{
  background: #e8e8e8;
}

.comment-bubble-form:after{
  border-right-color: #e8e8e8;
}

#comments-section{
    padding: 20px;
    border: 1px solid #e8e8e8;
    margin: 25px auto;
}

.video-avatar-comment{
  border-radius: 50%;
}

a.commenter-author-name{
  color: #000;
}

a.commenter-author-name:hover{
  text-decoration: underline;
}

#comments-section .row{
  margin: 10px 0;
}

#comment-creation-form input{
  width:100%;
  height:50px;
}
