<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS326 Project</title>

    <!-- bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		{% load static %}
		<link href="{% static 'styles/custom.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="styles/custom.css">

    <!-- fontawesome, jQuery, bootstrap JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
  	<header>
  		<nav class="navbar navbar-expand-lg navbar-dark">
		  <a class="navbar-brand" href="#"><i class="far fa-smile"></i> reel feels</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbar-content">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link"href="#"><i class="fas fa-compass"></i> Explore</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#"><i class="fas fa-arrow-circle-up"></i> Upload </a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
		    </form>
		    <a href="#" class="btn" id="sign-up-button"><i class="fas fa-user"></i> Sign up</a>
		  </div>
		</nav>
  	</header>

  	<div class="container-fluid">
  		<div class="row buffer-bottom">
  			<div class="col-md-12" id="jumbotron-col">
  				<div class="jumbotron">
  					<h3 class="display 1" id="tagline">Real people. Real feelings. </h3>
  					<p class="lead">Brief description.</p>
  					<p class="lead">
  						 <a class="btn btn-dark btn-main btn-lg" id="explore-button" href="#" role="button">Explore!</a>
  					</p>
  				</div>
  			</div>
  		</div>

  		<div class="row buffer-bottom">
  			<div class="col-md-3 ml-md-auto">
  				<div class="home-marketing-point">
  					<i class="fas fa-users"></i><br>
  					<h4>Point 1</h4>
  					<p> Brief description </p>
  				</div>
  				
  			</div>
  			<div class="col-md-3">
  				<div class="home-marketing-point">
  					<i class="far fa-smile"></i><br>
  					<h4>Point 2</h4>
  					<p> Brief description </p>
  				</div>
  				
  			</div>
  			<div class="col-md-3 mr-md-auto">
  				<div class="home-marketing-point">
  					<i class="fas fa-comments"></i><br>
  					<h4>Point 3</h4>
  					<p> Brief description </p>
  				</div>
  				
  			</div>
  		</div>

  		<div class="row" id="user-testimony-block">
  			<div class="col-md-4 ml-md-auto mr-md-auto" >
  				<h4> Don't ask us, ask our users!</h4>
  				<ul id="user-testimonies">
  					<li>
  						<div class="user-testimony-quote">&ldquo;I like it&rdquo;</div>
  						<div class="user-testimony-cite">Someone, hopefully</div>
  					</li>
  					<li>
  						<div class="user-testimony-quote">&ldquo;A+&rdquo;</div>
  						<div class="user-testimony-cite">Tim Richards, ideally</div>
  					</li>
  				</ul>
  				
  			</div>

  		</div>
  	</div>

  	<footer>
  		<div class="row">
  			<div class="col-md-12">
	  			Footer/credits/etc.
	  			<i class="fab fa-github"></i>

	  		</div>
  		</div>
  	</footer>

  </body>
</html>