<!DOCTYPE html>
{% load static %}
<html>
  	<head>
		<title>CS326 Project</title>
		{% include "styles-and-scripts.html" %}
		<script defer src="{% static 'scripts/index.js' %}"></script>
  	</head>
 	<body>
		<header>
				{% include "navbar.html" %}
		</header>

		<div class="container-fluid">
			<div class="row buffer-bottom">
				<div class="col-md-12" id="jumbotron-col">
					<div class="jumbotron">
						<h3 class="display 1" id="tagline">Real people. Real feelings. </h3>
						<p class="lead">Brief description.</p>
						<p class="lead">
							<p class="lead">
							<a class="btn btn-dark btn-main btn-lg" id="explore-button" href="#" role="button">Explore!</a>
						</p>
					</div>
				</div>
			</div>

			<div class="row buffer-bottom">
				<div class="col-md-3 ml-md-auto">
					<div class="home-marketing-point">
						<i class="fas fa-users"></i><br>
						<h4>Point 1</h4>
						<p> Brief description </p>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="home-marketing-point">
						<i class="far fa-smile"></i><br>
						<h4>Point 2</h4>
						<p> Brief description </p>
					</div>
				</div>

				<div class="col-md-3 mr-md-auto">
					<div class="home-marketing-point">
						<i class="fas fa-comments"></i><br>
						<h4>Point 3</h4>
						<p> Brief description </p>
					</div>
					
				</div>
			</div>

			<div class="row" id="user-testimony-block">
				<div class="col-md-4 ml-md-auto mr-md-auto" >
					<h4> Don't ask us, ask our users!</h4>
					<ul id="user-testimonies">
						<li>
							<div class="user-testimony-quote">&ldquo;I like it&rdquo;</div>
							<div class="user-testimony-cite">Someone, hopefully</div>
						</li>
						<li>
							<div class="user-testimony-quote">&ldquo;A+&rdquo;</div>
							<div class="user-testimony-cite">Tim Richards, ideally</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
			
		{% include "footer.html" %}
  	</body>
</html>