<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>CS326 Project/Video Upload Page</title>
		{% include "styles-and-scripts.html" %}

		<!--custom JavaScript for upload-->
		<script src="{% static 'scripts/upload-scripts.js' %}}"></script>

	</head>
	<body>
		<header>
				{% include "navbar.html" %}
		</header>

		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-8 mx-auto">
					<form id="upload-form">
						<fieldset>
							<div class="form-group">
								<label for="video-url-input">Video URL (YouTube):</label>
								<input type="url" class="form-control" id="video-url-input">
								<input type="button" id="test-preview-button" value="Next">
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group">
								<label for="upload-desc">Description</label>
								<input type="text" id="upload-desc"></input>
								<button>Share!</button>
							</div>
					</fieldset>
					</form>
				</div>
	
			</div>

			<div class="row">
				<div class="col-md-8 mx-auto">
					<h3>Video Preview:</h3>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe id="video-preview" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>

			</div>
		
		</div>
		
		<!--footer copied from index.html for now-->
		{% include "footer.html" %}
	</body>
</html>