/* COMMON UI ELEMENTS */

.hidden{
	display: none;
}

.container-fluid{
	min-height:75vh;
}

.mb-25{
	margin-bottom: 25px;
}


/* HEADER */
.navbar-brand{
	font-family: 'Noto Serif';
	font-size: 1.5rem;
}

.logo{
	height: 25px;
	margin-bottom: 5px;
}

/* FOOTER */
.fake-social-media a{
	font-size: 3rem;
	color: #fff;
	padding: 0 5px;
}

/* HOMEPAGE */

.jumbotron p, .jumbotron h3{
	text-align: center;
}

.jumbotron{
	background-size: 100%;
	height: 650px; /* change - set dynamically with JS */
	padding: 20% 0;
	background-image: url('../images/homepage-stock.jpeg');
	background-repeat: no-repeat;
}

.home-marketing-point svg{
	font-size: 50px;
	color: #fff;
	width: 150px !important;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #b3b3b3;
    border-radius: 100% 100%;
    padding: 25px;
    display:inline-block;
    margin-bottom: 15px;
}

.home-marketing-point{
	text-align: center;
}

#jumbotron-row{
	margin-bottom: 25px;
}

#jumbotron-col{
	padding:0;
}

#user-testimony-block{
	text-align: center;
	background-color: #d3d3d3;
	height: 300px;
	padding: 15px 0;
}

#user-testimonies{
	list-style-type: none;
	padding-left:0;
}

#user-testimonies li{
	padding: 10px 0;
}

.user-testimony-quote{
	font-size: 1.25em;
}

.user-testimony-cite{
	/*text-align:right;*/
}

.user-testimony-cite::before{
	content: '\2014';

}

#explore-button{
	background-color: #B5428B;
    border-color: #B5428B;
    color: #fff;
}

.jumbotron .lead{
	color: #fff;
}

#tagline{
	color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 3rem;
}

.home-marketing-point h4{
	color: #B5428B;
}

/* COMMON UI ELEMENTS */

footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	height: 75px;
}

.buffer-bottom{
	margin-bottom: 25px;
}

#sign-up-button{
	color: #fff;
}

.navbar{
	background-color: #B5428B;
}

.btn-main{
	background-color: #B5428B;
	border-color: #B5428B;
}

/* SIGN UP */

#user-creation-form{
	height:100%;
}

#sign-up-info{
	border-right: 1px solid #b3b3b3;
}

#user-creation-form input{
	margin: 10px 0;
}

/* LOGIN */

#sign-in-form input{
	margin: 10px 0;
}



