<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>reelFeels</title>{% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

  {% block customcss %}{% endblock%}

</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="main-nav">
      <a class="navbar-brand" href="/">
        <img src="../static/images/logo-idea-2-white-small.png" class="logo">
        reel<strong>feels</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}" data-navlink="index"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'explore' %}" data-navlink="explore"><i class="fas fa-compass"></i> Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload' %}" data-navlink="upload"><i class="fas fa-arrow-circle-up"></i> Upload </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" onSubmit="return getSearchResults()">
            <input class="form-control mr-sm-2" id="search-query" type="text" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" onclick="return getSearchResults()"><i class="fas fa-search"></i></button>
          </form>

          <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' request.user.profile.id %}" data-navlink="profile"><i class="fas fa-user"></i> Profile </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" id="login-button" data-navlink="login"><i class="fas fa-user"></i> Log In</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </header>

  {% block content %}{% endblock %}
  <footer>
    <div class="row">
      <div class="col-md-12">
        <div class="fake-social-media">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>Copyright &copy; 2018</p>
      </div>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="{% static 'scripts/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
  <script src="{% static 'scripts/navbar.js' %}"></script>
  <script src="{% static 'scripts/font-awesome-all.js' %}"></script>
  <script src="{% static 'scripts/googlecharts.js' %}"></script>
  <script src="https://download.affectiva.com/js/3.2/affdex.js"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type=text/javascript>
    var searchURL = "{% url 'search' %}"

    function getSearchResults(){
      var searchQuery = document.getElementById('search-query').value;
      if (searchQuery.length > 0)
          self.location.href = searchURL + '?search-query=' + searchQuery;
      else
          self.location.href = searchURL;
      return false;
    }

  </script>

  {% block customjs %}{% endblock%}
</body>
</html>
