<!doctype html>
{% load static %}
<html lang="en">
  	<head>
    	<!-- Required meta tags -->
    	<title>Explore Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		{% include "styles-and-scripts.html" %}
		<link rel="stylesheet" href="{% static 'styles/explore.css' %}">
  	</head>
	<body>

		<header>
			{% include "navbar.html" %}
		</header>

	    <div class = "container-fluid">
	      	<div class = "row">
		        <nav class="col-md-2 d-none d-md-block bg-light sidebar"><!--remove bg-light to change color w/ .sidebar -->
		        	<div class="sidebar-sticky">
			            <h2 align="center"> Filter by:</h2>

			            <!--checkboxes, probably what we want, just need to make them look better -->
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-secondary btn-block">
						    <input type="checkbox" checked> Anger
						  </label>
						</div>
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-secondary btn-block">
						    <input type="checkbox"> Disgust
						  </label>
						</div>
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-secondary btn-block">
						    <input type="checkbox"> Happy
						  </label>
						</div>
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-secondary btn-block">
						    <input type="checkbox"> Sadness
						  </label>
						</div>
						<div class="btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-secondary btn-block">
						    <input type="checkbox"> Surprise
						  </label>
						</div>
					</div>
		        </nav>

	        	<!-- New Section -->
		        <main role ="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		            	<h1 class="h2">New</h1>
		          	</div>
		          	<div class="album py-5">
		            	<div class="container">

		              		<div class="row">
		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img1.jpeg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">My first live show!</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">1upFX</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Surprise</button>
		                        				</div>
		                        				<small class="text-muted">13 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>

		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img2.jpg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">The lights were unreal.</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">fireeternal</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Sadness</button>
		                        				</div>
		                        				<small class="text-muted">30 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>

		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img3.jpeg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">Why you should love this band as much as i do!!!!!!!!!!</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Sudssoda</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Anger</button>
		                        				</div>
		                        				<small class="text-muted">25 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>
		              		</div>
		            	</div>
		          	</div>

		          	<!-- Popular Section -->
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		            	<h1 class="h2">Popular</h1>
		          	</div>
		          	<div class="album py-5">
		            	<div class="container">

		              		<div class="row">
		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img4.jpeg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">Best Band Globe.</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">imheretostealyourmemes</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Surprise</button>
		                        				</div>
		                        				<small class="text-muted">5892 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>

		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img5.jpeg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">Ornage you glad you saw this.</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Memlet</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Disgust</button>
		                        				</div>
		                        				<small class="text-muted">3146 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>

		                		<div class="col-md-4">
		                  			<div class="card mb-4 box-shadow">
		                  				<a href="#">
		                    				<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/explore-images/Img6.jpeg' %}" data-holder-rendered="true">
		                    			</a>
		                    			<div class="card-body">
		                      				<p class="card-text">Big Red.</p>
		                      				<div class="d-flex justify-content-between align-items-center">
		                        				<div class="btn-group">
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">dizzyturtle</button>
		                          					<button type="button" class="btn btn-sm btn-outline-secondary">Top Emotion: Angry</button>
		                        				</div>
		                        				<small class="text-muted">9760 Views</small>
		                      				</div>
		                    			</div>
		                  			</div>
		                		</div>
		              		</div>
		            	</div>
		          	</div>         
		        </main>
	      	</div>
		</div>
		
		<footer>
			{% include "footer.html" %}
		</footer>
	</body>
</html>