{% extends "base_template.html" %}

{% block title %}<title>Log In</title>{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-25">
    <div class="col-md-4 ml-auto mr-auto">
      <form id="sign-in-form" method="post" action="/login">
        {% csrf_token %}
        <h3 class="text-center">{% if message %} {{ message }}  {% else %} Welcome Back! {% endif %}</h3>
        {{ form.username }}
        {{ form.password }}
        <button type="submit" class="btn btn-main btn-lg btn-block btn-dark">Log in</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ml-auto mr-auto">
      <h4 class="text-center"> Don't have an account? </h4>
      <h4 class="text-center"><a href="{% url 'signup' %}">Sign Up!</a></h4>
    </div>
  </div>
</div>
{% endblock %}
