{% extends "base_template.html" %}

{% block title %}<title>Sign Up</title>{% endblock %}

{% block content %}
<div class="container-fluid fill">
  <div class="row mb-25">
    <div class="col-md-5 ml-auto" id="sign-up-info">
      <h3>Marketing/tag line</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-5 mr-auto">
      <h2 class="text-center"> Create an account </h2>

      <form id="user-creation-form"  class="text-center" method="post" action="">
          {% csrf_token %}

          <!--<label for="profile-pic" class="hidden">Profile picture</label>
          <div class="profile-pic-upload-wrap">
            form.profile_pic
            <p><i class="fas fa-image"></i></p>
          </div>
          <small style="color: grey">(Optional)</small>
          <p class="form-error">{{form.profile_pic.errors|striptags}}</p>-->

          <label for="email" class="hidden">Email</label>
          {{form.email}}
          <p class="form-error">{{form.email.errors|striptags}}</p>

          <label for="username" class="hidden">Username</label>
          {{form.username}}
          <p class="form-error">{{form.username.errors|striptags}}</p>

          {{form.password1}}
          {{form.password2}}

          <p class="form-error">{{form.password1.errors|striptags}}</p>
          <p class="form-error">{{form.password2.errors|striptags}}</p>

          <br/>
          <button type="submit" class="btn btn-main btn-dark">Sign Up!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
