<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>CS326 Project/Video Upload Page</title>
		
		{% include "styles-and-scripts.html" %}
		
		<!--have to include 'full' version of JQuery for animation (fade) effects-->
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

		<!--custom CSS and JavaScript for upload-->
		<link rel="stylesheet" href="{%static 'styles/upload.css' %}"></style>
		<script src="{% static 'scripts/upload-scripts.js' %}"></script>

	</head>
	<body>
		<header>
			{% include "navbar.html" %}
		</header>

		<div class="container-fluid">

			<form id="upload-form">
				<fieldset id="fs1">
					<div class="form-row justify-content-center">
						<div class="form-group col-md-8">
							<input type="text" class="form-control" id="video-url-input" placeholder="YouTube URL">
						</div>
					</div>
					<div class="form-row justify-content-center mt-2">
						<div class="form-group">
							<button type="button" class="btn btn-toggle btn-lg" id="upload-next-button">Next</button>
						</div>
					</div>
				</fieldset>
				<fieldset id="fs2">
					<div class="form-row justify-content-center mt-2">
						<div class="form-group">
							<button type="button" class="btn btn-toggle" id="upload-previous-button">Previous</button>
						</div>
					</div>
					<div class="form-row justify-content-center">
						<div class="form-group col-md-8">
							<p class="text-center">Video Preview:</p>
						</div>
						<div class="form-group col-md-6">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe id="video-preview" allow="encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="form-row justify-content-center mt-2">
						<div class="form-group col-md-8">	
							<label for="upload-desc" class="text-center h5">Description:</label>
							<textarea class="form-control" id="upload-desc"></textarea>
						</div>
						<div class="form-group col-md-8">	
							<label for="tags" class="text-center h5">Tags:</label>
							<input type="tags" id="tags" placeholder="tags here (comma-separated)...">
						</div>
					</div>
					<div class="form-row justify-content-center my-4">
						<a href="video"><button type="button" class="btn btn-lg btn-main" id="upload-submit-button">Share!</button></a>
					</div>
				</fieldset>
			</form>	

		</div>
		
		<footer>
			{% include "footer.html" %}
		</footer>
	</body>
</html>