{% extends "base_template.html" %}

{% block title %}
<title>User Profile</title>
{% endblock %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/tab-styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/user-profile.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-xs-12">
      <img id="profile-picture" src="{{user.profile_pic.url}}">
      <h4 class="user-details">{{user.username}}</h4>
      <h5 class="user-details">Favorite Emotion: {{user.get_top_emotion}}
        <img src="{% static 'images/emoticons/{{user.get_top_emotion.url}}-small.png' %}" class="emoticon">
      </h5>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12">

      <!-- Tabs -->
      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, infoType.feels)" id="defaultOpen">Feels</button>
        <button class="tablinks" onclick="openTab(event, infoType.content)">Content</button>
      </div>

      <!-- Feels -->
      <div id="user-feels" class="tabcontent">
        <div id="user-emotions-chart"></div>
        <p>Joy: <strong>{{user.happiness}}</strong>%</p>
        <p>Sadness: <strong>{{user.sadness}}</strong>%</p>
        <p>Disgust: <strong>{{user.disgust}}</strong>%</p>
        <p>Surprise: <strong>{{user.surprise}}</strong>%</p>
        <p>Anger: <strong>{{user.anger}}</strong>%</p>
      </div>

      <!-- Content -->
      <div id="user-content" class="tabcontent">
      	{% for video in user.video_set.all %}
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <!-- video thumbnail -->
            <img class="video-thumbnail" src="{{video.get_youtube_thumbnail}}">
          </div>
          <div class="col-md-8 col-xs-12">
            <!-- video text -->
            <h5>{{video.title}}</h5>
            <p>{{video.video_description}}</p>
          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'scripts/user-profile.js' %}"></script>
{% endblock %}
