{% extends "base_template.html" %}

{% block title %}
<title>Video</title>
{% endblock %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/video-content.css' %}">
<link rel="stylesheet" href="{% static 'styles/tab-styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Content -->
  <div class="row" id="video-and-stats">
    <!-- Video -->
    <div class="col-lg-8 col-md-7 col-xs-12">
      <div class="video-container">
        <iframe id="player" src="https://www.youtube.com/embed/{{ video.video_link }}?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p id="video-code" hidden>{{ video.video_link }}</p> <!-- a hacky way of passing this value into the javascript... -->
      </div>
    </div>

    <!-- Side stuff -->
    <div class="col-lg-4 col-md-5 col-xs-12" id="emotion-charts">

      <!-- Stats tabs -->
      <div class="tab">
        <button class="tablinks active" onclick="openStats(event, statType.user)" id="defaultOpen">Your Stats</button>
        <button class="tablinks" onclick="openStats(event, statType.general)">General Stats</button>
      </div>

      <!-- Stats content -->
      <div id="user-stats" class="tabcontent">
        <h3>Your stats</h3>
        <div id="user-emotions-chart"></div>
        <p>Joy: <strong id="user-joy">loading...</strong>%</p>
        <p>Sadness: <strong id="user-sadness">loading...</strong>%</p>
        <p>Disgust: <strong id="user-disgust">loading...</strong>%</p>
        <p>Anger: <strong id="user-anger">loading...</strong>%</p>
        <!-- <p>Fear: <strong id="user-fear">loading...</strong>%</p> -->
        <p>Surprise: <strong id="user-surprise">loading...</strong>%</p>
      </div>

      <div id="general-stats" class="tabcontent">
        <h3>What others felt</h3>
        <div id="general-emotions-chart"></div>
        <p>Joy: <strong>{{ video.happiness }}</strong>%</p>
        <p>Sadness: <strong>{{ video.sadness }}</strong>%</p>
        <p>Disgust: <strong>{{ video.disgust }}</strong>%</p>
        <p>Surprise: <strong>{{ video.surprise }}</strong>%</p>
        <p>Anger: <strong>{{ video.anger }}</strong>%</p>
      </div>
    </div>
  </div>

  <!-- Creator info -->
  <div class="mt-10" id="creator-info">

    {% if is_owner %}
    <div class="video-edit-link-wrap">
      <a href='{{edit_url}}' class='video-edit-link'><i class="fas fa-edit"></i></a>
      <a href="{{delete_url}}" class="video-delete-link"><i class="fas fa-trash-alt"></i></a>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'profile' uploader.id %}">
          <img class="video-avatar-uploader video-avatar img-fluid text-center" src="{{ uploader.profile_pic.url }}">
        </a>
        <br/>
      </div>
      <div class="col-md-10">
        <a href="{% url 'profile' uploader.id %}" class="video-uploader-name">
          <h5>{{ uploader.user }}</h5>
        </a>
        <p>{{ video.video_description }}</p>
        <small>Uploaded on {{ video.date_shared }}</small>
      </div>
    </div>
  </div>

  <!-- Comments -->
  <div id="comments-section">
    <!-- insert text box here -->
    {% for comment in comment_list %}
    <div class="row">
      <div class="col-md-1 col-sm-3 ml-auto">
        <a href="{% url 'profile' comment.commenter_id.id %}">
          <img class="video-avatar-comment video-avatar img-fluid" src="{{ comment.commenter_id.profile_pic.url }}">
        </a>
      </div>
      <div class="col-md-10 col-sm-9 mr-auto">
        <div class="comment-bubble">
          <a href="{% url 'profile' comment.commenter_id.id %}" class="commenter-author-name">
            <strong>{{ comment.commenter_id.user.username }}:</strong>
          </a>
          {{ comment }}
        </div>
      </div>
    </div>
    {% endfor %}


    <!-- insert comment form here -->
    <!-- if the user is signed in we give them the form to make a new comment -->
    {% if request.user.is_authenticated %}
    <form id="comment-creation-form" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-1 col-sm-3 ml-auto">
            <img class="video-avatar-comment video-avatar img-fluid" src="{{request.user.profile.profile_pic.url}}">
        </div>

        <div class="col-md-10 col-sm-9 mr-auto">
          <div class="comment-bubble comment-bubble-form">
            {{form.comment}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ml-auto mr-auto text-center">
          <button type="submit" class="btn btn-main btn-dark text-center">Comment</button>
        </div>
      </div>
      <br/>
    </form>

    <!-- if the user isn't signed in we tell them to sign in to comment -->
    {% else %}
    <h4 class="text-center"> Want to comment? <a href="{% url 'signup' %}">Sign Up!</a></h4>
    {% endif %}
    <!-- insert comment form here -->
  </div>

  <!-- div for Affectiva (DOM elements auto-generated by affdex.js) -->
  <div id="affdex_elements"></div>
</div>
  {% endblock %}

  {% block customjs %}
  <script src="{% static 'scripts/video-content.js' %}"></script>
  <script src="https://download.affectiva.com/js/3.2/affdex.js"/>
  {% endblock %}
