{% extends "base_template.html" %}

{% block title %}<title>Delete Video</title>{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-25">
    <div class="col-md-8 ml-auto mr-auto">
      <h2 class="text-center">Delete Video</h2>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% else %}
      <form action="" method="post" class="form-control">
        {% csrf_token %}
        <br/>
        <div class="text-center">
          <h6>Are you sure you want to delete <a href="{% url 'video' object.id %}">{{ object }}</a>?</h6>
        </div>
        <div class="text-center">
          <input type="submit" value="Confirm" class="btn btn-main" />
        </div>
      </form>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
