{% extends "base_template.html" %}

{% block title %}
<title>Video</title>
{% endblock %}

{% block customcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/video-content.css' %}">
<link rel="stylesheet" href="{% static 'styles/tab-styles.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Content -->
  <div class="row" id="video-and-stats">
    <!-- Video -->
    <div class="col-md-8 col-xs-12">
      <div class="video-container">
        <iframe  src="https://www.youtube.com/embed/{{ video.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Side stuff -->
    <div class="col-md-4 col-xs-12">

      <!-- Stats tabs -->
      <div class="row">
        <div class="col-md-12">
          <div class="tab">
            <button class="tablinks active" onclick="openStats(event, statType.user)" id="defaultOpen">Your Stats</button>
            <button class="tablinks" onclick="openStats(event, statType.general)">General Stats</button>
          </div>

          <!-- Stats content -->
          <div id="user-stats" class="tabcontent">
            <h3>Your stats</h3>
            <div id="user-emotions-chart"></div>
            <p>Joy: <strong>x</strong>%</p>
            <p>Sadness: <strong>y</strong>%</p>
            <p>Disgust: <strong>z</strong>%</p>
            <p>Surprise: <strong>a</strong>%</p>
            <p>Anger: <strong>b</strong>%</p>
          </div>

          <div id="general-stats" class="tabcontent">
            <h3>What others felt</h3>
            <div id="general-emotions-chart"></div>
            <p>Joy: <strong>{{ video.happiness }}</strong>%</p>
            <p>Sadness: <strong>{{ video.sadness }}</strong>%</p>
            <p>Disgust: <strong>{{ video.disgust }}</strong>%</p>
            <p>Surprise: <strong>{{ video.surprise }}</strong>%</p>
            <p>Anger: <strong>{{ video.anger }}</strong>%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Creator info -->
  <div class="row">
    <div class="col-md-12">
      <div id="creator-info">
        <div id="creator-name">
          <a href="{% url 'profile' uploader.id %}">
            <img class="comment-author-picture" src="{{ uploader.profile_pic.url }}">
          </a>
          <p>
            <a href="{% url 'profile' uploader.id %}"><strong>{{ uploader.username }}</strong></a>
          </p>
          <br>
        </div>
        <p>{{ video.video_description }}</p>
        <br />
        <small>Published on {{ video.date_shared }}</small>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Comments -->
  <div id="comments-section">
    <h3>Comments</h3>
    <!-- insert text box here -->

    {% for comment in comment_list %}
    <div class="comment">
      <div class="user-details">
        <a href="{% url 'profile' comment.commenter_id.id %}">
          <img class="comment-author-picture" src="{{ comment.commenter_id.profile_pic.url }}">
        </a>
        <a href="{% url 'profile' comment.commenter_id.id %}">
          <div class="comment-author-name">{{ comment.commenter_id.username }}</div>
        </a>
      </div>
      <div class="comment-bubble">{{ comment }}</div>
    </div>
    <br>
    {% endfor %}

    <!-- insert comment form here -->
    <!-- if the user is signed in we give them the form to make a new comment -->
    {% if request.user.is_authenticated %}
      <form id="comment-creation-form" method="post">
          {% csrf_token %}
          <p>
            <img class="comment-author-picture" src="{{request.user.profile.profile_pic.url}}">
            {{form.comment}}
          </p>
          <button type="submit" class="btn btn-main btn-dark">Comment</button>
      </form>

    <!-- if the user isn't signed in we tell them to sign in to comment -->
    {% else %}
      <h4 class="text-center"> Want to comment? <a href="{% url 'signup' %}">Sign Up!</a></h4>
    {% endif %}
    <!-- insert comment form here -->

{% endblock %}

{% block customjs %}
<script src="{% static 'scripts/video-content.js' %}"></script>
{% endblock %}
